body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #41B3A3;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    max-width: 50%;
    max-height: 50%;
    
}
.nav {
    display: flex;
    gap: 25px;
    font-size: 25px;
}
.nav a {
    color: white;
    text-decoration: none;
}
.btn-login {
    background-color: #E27D60;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}
.main h1 {
    text-align: center;
    padding: 20px;
    color: #E27D60;
    font-size: 50px;
}
.main {
    text-align: center;
    padding: 20px;
}
.main img {
    width: 80%;
    max-width: 800px;
    height: auto;
    border: 5px solid lightgray;
}
.main button {
    background-color: #41B3A3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 5px;
}
.project-description {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
}
.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #eef5f9;
}
.feature {
    text-align: center;
    width: 30%;
}
.feature img {
    width: 50px;
    height: 50px;
}
.footer {
    background-color: #41B3A3;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer .contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}
.footer a {
    color: white;
    text-decoration: none;
}