/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
body::-webkit-scrollbar{
    display: none;
}

header {
    background: linear-gradient(45deg, #2aa696, #41B3A3);
    color: white;
    padding: 10px 0;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 20px;
}
.logo {
    max-width: 50%;
    max-height: 50%;
    
}

.header-container nav {
	margin: 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #41B3A3;
	border-radius: 8px;
	font-size: 0;
}
.header-container nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.header-container nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

/*Pour la taille des boutons*/
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}

.header-container nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #55B4DD;
}
.header-container nav .start-inser, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #55B4DD;
}
.header-container nav .start-map, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #55B4DD;
}
.header-container nav .start-predict, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #55B4DD;
}
.header-container nav .start-account, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #55B4DD;
}

.btn-login {
    background-color: #E27D60;
    color: white;
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    margin-right: 20px;

}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #E27D60;
}

.search-section,
.prediction-section,
.model-section {
    margin: 20px 0;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    border: 2px solid #C35360;
    border-radius: 8px;
    margin: 10px 0;
    width: calc(100% - 24px); /* Full width minus padding and border */
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #E27D60;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F18E67;
}

.results-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.results-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
    max-width: 100%;
}

/* ---------------------- FOOTER ---------------------- */

.footer {
    background-color: #41B3A3;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.footer a {
    color: white;
    text-decoration: none;
    min-width: 300px;
    padding: 5px;
}
.footer .twoc {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

/* ---------------------- FIN FOOTER ---------------------- */
