nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #41B3A3;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #55B4DD;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #55B4DD;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #55B4DD;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #55B4DD;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #55B4DD;
}

body {
	font-size: 12px;
	font-family: sans-serif;
}
.logo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	align-items: center;
	margin-left: 45%;
}
h1 {
	text-align: center;
    color: #E27D60;
    font-size: 50px;
	margin-bottom: 1px;
}
h2 {
	margin-top: 5px;
    text-align: center;
    color: #41B3A3;
    font-size: 30px;
}
p {
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
  }
  
  :root {
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
  }

.img_index {
	width: 50%;
    height: 50%;
    border: 5px solid #E27D60;
    margin-top: 20px;
	margin-left: 25%;
  }

.desc_title {
	color: white;
	margin-top: 2px;
	margin-bottom: 15px;
}

.desc_proj {
	color: white;
	margin-top: 1px;
}

.project-description {
	background: linear-gradient(45deg, #2dd5bf, #41B3A3);
    margin-top: 1%;
	padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
	border-radius: 12px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #eef5f9;
}
.feature {
    text-align: center;
    width: 30%;
}
.feature img {
    width: 50px;
    height: 50px;
}

.btn_feature {
    background: linear-gradient(45deg, #0b8776, #41B3A3);
    color: white;
    border: none;
    font-size: large;
    padding: 15px 30px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature img {
    min-width: 150px;
    min-height: 150px;
}